<%= form_for(@jardin) do |f| %>
  <% if @jardin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jardin.errors.count, "error") %> prohibited this jardin from being saved:</h2>

      <ul>
      <% @jardin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr><th>
    <%= f.label :nombre %></th><td><%= f.text_field :nombre %>
  </td></tr>
  <tr><th>
    <%= f.label :direccion %></th><td><%= f.text_field :direccion %>
  </td></tr>
  <tr><th>
    <%= f.label :latitud %></th><td><%= f.text_field :latitud %>
  </td></tr>
  <tr><th>
    <%= f.label :longitud %></th><td><%= f.text_field :longitud %>
  </td></tr>
  <tr><th>
    <%= f.label :telefono %></th><td><%= f.text_field :telefono %>
  </td></tr>
  <tr><th>
    <%= f.label :web %></th><td><%= f.text_field :web %>
  </div>
  <tr><th>
    <%= f.label :email %></th><td><%= f.text_field :email %>
  </td></tr>
  <tr><th>
    <%= f.label :capacidad %></th><td><%= f.text_field :capacidad %>
  </td></tr>
  <tr><th>
    <%= f.label :camaras %></th><td><%= f.text_field :camaras %>
  </td></tr>
  <tr><th>
    <%= f.label :ninos_x_tia %></th><td><%= f.text_field :ninos_x_tia %>
  </td></tr>
  <tr><th>
    <%= f.label :matricula %></th><td><%= f.text_field :matricula %>
  </td></tr>
  <tr><th>
    <%= f.label :mensualidad %></th><td><%= f.text_field :mensualidad %>
  </td></tr>
  <tr><th>
    <%= f.label :sistema_educativo %></th><td><%= f.text_field :sistema_educativo %>
  </td></tr>
  <tr><th>
    <%= f.label :edad_entrada %></th><td><%= f.text_field :edad_entrada %>
  </td></tr>
  <tr><th>
    <%= f.label :edad_salida %></th><td><%= f.text_field :edad_salida %>
  </td></tr>
  <tr><th>
    <%= f.label :horario %></th><td><%= f.text_field :horario %>
  </td></tr>
  <tr><th>
    <%= f.label :vacantes %></th><td><%= f.text_field :vacantes %>
  </td></tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
