{
<% @jardins.each do |jardin| %>
  {
    "html": "<b>Nombre:<b> <%= jardin.nombre %></td>
    <td><%= jardin.direccion %></td>
    <td><%= jardin.latitud %></td>
    <td><%= jardin.longitud %></td>
    <td><%= jardin.telefono %></td>
  }
<% end %>
}

