<p id="notice"><%= notice %></p>

<p>
  <b>Nombre:</b>
  <%= @jardin.nombre %>
</p>

<p>
  <b>Direccion:</b>
  <%= @jardin.direccion %>
</p>

<p>
  <b>Telefono:</b>
  <%= @jardin.telefono %>
</p>

<p>
  <b>Web:</b>
  <%= @jardin.web %>
</p>

<p>
  <b>Email:</b>
  <%= @jardin.email %>
</p>

<p>
  <b>Capacidad:</b>
  <%= @jardin.capacidad %>
</p>

<p>
  <b>Camaras:</b>
  <%= @jardin.camaras %>
</p>

<p>
  <b>Ninos x tia:</b>
  <%= @jardin.ninos_x_tia %>
</p>

<p>
  <b>Matricula:</b>
  <%= @jardin.matricula %>
</p>

<p>
  <b>Mensualidad:</b>
  <%= @jardin.mensualidad %>
</p>

<p>
  <b>Sistema educativo:</b>
  <%= @jardin.sistema_educativo %>
</p>

<p>
  <b>Edad entrada:</b>
  <%= @jardin.edad_entrada %>
</p>

<p>
  <b>Edad salida:</b>
  <%= @jardin.edad_salida %>
</p>

<p>
  <b>Horario:</b>
  <%= @jardin.horario %>
</p>

<p>
  <b>Vacantes:</b>
  <%= @jardin.vacantes %>
</p>

<p>
  <b>Latitud:</b>
  <%= @jardin.latitud %>
</p>

<p>
  <b>Longitud:</b>
  <%= @jardin.longitud %>
</p>


<%= link_to 'Edit', edit_jardin_path(@jardin) %> |
<%= link_to 'Back', jardins_path %>
