<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Nombre:</th><td><%= @jardin.nombre %></td>
  </tr>
  <tr>
    <th>Direccion:</th><td><%= @jardin.direccion %></td>
  </tr>
  <tr>
    <th>Latitud:</th><td><%= @jardin.latitud %></td>
  </tr>
  <tr>
    <th>Longitud:</th><td><%= @jardin.longitud %></td>
  </tr>
  <tr>
    <th>Telefono:</th><td><%= @jardin.telefono %></td>
  </tr>
  <tr>
    <th>Web:</th><td><%= @jardin.web %></td>
  </tr>
  <tr>
    <th>Email:</th><td><%= @jardin.email %></td>
  </tr>
  <tr>
    <th>Capacidad:</th><td><%= @jardin.capacidad %></td>
  </tr>
  <tr>
    <th>Camaras:</th><td><%= @jardin.camaras %></td>
  </tr>
  <tr>
    <th>Ninos x tia:</th><td><%= @jardin.ninos_x_tia %></td>
  </tr>
  <tr>
    <th>Matricula:</th><td><%= @jardin.matricula %></td>
  </tr>
  <tr>
    <th>Mensualidad:</th><td><%= @jardin.mensualidad %></td>
  </tr>
  <tr>
    <th>Sistema educativo:</th><td><%= @jardin.sistema_educativo %></td>
  </tr>
  <tr>
    <th>Edad entrada:</th><td><%= @jardin.edad_entrada %></td>
  </tr>
  <tr>
    <th>Edad salida:</th><td><%= @jardin.edad_salida %></td>
  </tr>
  <tr>
    <th>Horario:</th><td><%= @jardin.horario %></td>
  </tr>
  <tr>
    <th>Vacantes:</th><td><%= @jardin.vacantes %></td>
  </tr>
</table>


<%= link_to 'Edit', edit_jardin_path(@jardin) %> |
<%= link_to 'Back', jardins_path %>
